@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fff;
}

.normal,
.rock,
.ghost,
.steel,
.fairy {
  @apply bg-gray-500;
}

.fighting,
.poison,
.psychic,
.dark,
.shadow {
  @apply bg-purple-900;
}

.flying {
  @apply bg-green-200 text-black;
}

.grass,
.bug {
  @apply bg-green-500;
}

.ground {
  @apply bg-yellow-700;
}

.fire,
.dragon {
  @apply bg-orange-500;
}

.electric {
  @apply bg-yellow-400;
}

.water,
.ice {
  @apply bg-blue-400;
}
